body {
  margin: 0;
  color: #F6F2E5;
}

main {
  background-color: #5E5343;
}

h1 {
  margin: 0;
  font-size: 7rem;
}

.section-1 {
  width: 90%;
  height: 100vh;

  .image-1 {
    border-radius: 15rem 15rem 15rem 15rem; 
  }

  .button-About {
    border: none;
    color: #F6F2E5;
    background-color: transparent;
  }
}

.section-2 {
  height: 100vh;
  color: #000;
  background-color: #D9D4C1;

  .section-2-h2 {
    font-size: 7rem;
  }

  .image-2 {
    border-radius: 15rem 15rem 0rem 0rem; 
  }

  .section-2-p {
    font-size: 2rem;
  }
}

.section-3 {
  color: #000;
  height: 100vh;
  background-color: #F6F2E5;

  .button-Campains{
    border: none;
    background-color: transparent;
  }

  .button-Campains-h2 {
    font-size: 4rem;
  }
}

.section-4 {
  width: 100%;
  height: 100vh;
  color: #F6F2E5;

  .section-4-p {
    font-size: 1.75rem;
    text-align: center;
  }

  .section-4-img {
    height: 100vh;
  }
}

.section-5 {
  color: #000;
  height: 100vh;
  background-color: #D9D4C1;

  .section-5-h2 {
    font-size: 7rem;
  }
  .section-5-p {
    position: absolute;
    left: 5%;
    font-size: 2rem;
  }
}

.section-6 {
  height: 100vh;
  color: #F6F2E5;

  .section-6-img {
    width: 100%;
  }

  .section-6-h2 {
    font-size: 7rem;
    margin: 0;
  }
}

.section-7 {
  height: 100vh;
  color: #000;
  background-color: #F6F2E5;

  .section-7-p {
    font-size: 2rem;
  }

  .section-7-h3 {
    font-size: 2.5rem;
  }

  .section-7-h2 {
    font-size: 7rem;
  }

}